/personalized_argumentation.bbl
/personalized_argumentation.blg
/personalized_argumentation.synctex.gz
/personalized_argumentation.tex~
/.DS_Store
/personalized_argumentation.bbl~
/simpson_personalized_argumentation.bib~
