/.~lock.convincingness_results_tables.ods#
/pref_learning_for_convincingness.bbl
/pref_learning_for_convincingness.blg
/pref_learning_for_convincingness.synctex.gz
/pref_learning_for_convincingness.tex~
/.DS_Store
/pref_learning_for_convincingness.bbl~
/pref_learning_for_convincingness.out
/tacl.bib
/tacl.tex
/tacl.tex~
/pref_learning_for_convincingness.aux~
/simpson_pref_learning_for_convincingness.bib~
